.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  .modal {
    transform: translate(-50%, -50%) scale(0.7);
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background: $pimary-bg-color;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form {
  margin: 40px;
  width: 448px;
}
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: -9px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  &:hover {
    color: $main-accent;
    fill: $main-accent;
  }
  &:focus {
    color: $main-accent;
    fill: $main-accent;
  }
}
.inovations {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.person-icon {
  position: absolute;
  left: 18px;
  transform: translateY(-10%);
  display: inline-block;
  fill: $primary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-start {
  &:focus-within {
    > .person-icon {
      fill: $main-accent;
    }
    > .form-label {
      transform: translate(-36px, -46px);
      font-size: 12px;
      color: $main-accent;
      fill: $main-accent;
    }
  }
  display: flex;
  position: relative;
  margin-bottom: 28px;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  input {
    padding-left: 42px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: $pimary-bg-color;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .form-label {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-48%);
    margin-left: 0px;
    left: 50px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $new-accent;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
  .name {
    position: absolute;
    top: 57%;
    left: 55px;
    transform: translateY(-50%);
    transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1),
      left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel {
    position: absolute;
    top: 44%;
    left: 55px;
    transform: translateY(-50%);
    transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1),
      left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .email {
    position: absolute;
    top: 43%;
    left: 55px;
    transform: translateY(-50%);
    transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1),
      left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.form-label-comment {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  &:not(:placeholder-shown) {
    + {
      .form-label {
        transform: translate(-36px, -46px);
        font-size: 12px;
        color: $main-accent;
        fill: $main-accent;
      }
    }
    outline: 1px solid $main-accent;
    border-color: $main-accent;
  }
  &:focus {
    outline: 1px solid $main-accent;
    border-color: $main-accent;
  }
}
.form-stop {
  padding-bottom: 30px;
}
.form-start.textarea {
  &:focus-within {
    .textarea {
      transform: translateY(-32px);
      color: $main-accent;
    }
  }
}
.comment-input {
  &:not(:placeholder-shown) {
    + {
      .comment-label {
        transform: translateY(-32px);
        color: $main-accent;
      }
    }
  }
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  resize: none;
  padding: 12px 16px;
}
.comment-label {
  position: absolute;
  top: 12px;
  left: 10px;
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-start.comment-field {
  &:focus-within {
    .comment-label {
      transform: translateY(-34px);
      color: $main-accent;
    }
  }
}
.icon-check {
  width: 14px;
  height: 14px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 3px;
  margin-left: -17px;
  margin-right: 4px;
  transition: $animation-timing-function;
}
.checkbox {
  &:checked {
    + {
      .icon-check {
        background-image: url(../images/icon-check.svg);
        background-origin: border-box;
        border-color: $main-accent;
      }
    }
  }
}
.checkbox-label {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  align-items: center;
}
.agreement-conditions {
  color: $main-accent;
  padding-bottom: 30px;
}
.btn-submit {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: $pimary-bg-color;
  background-color: $main-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: $main-accent;
  cursor: pointer;
}
.form-field {
  display: flex;
  width: 100%;
  margin-bottom: 28px;
}
