h1 {
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: $pimary-bg-color;
}
h2 {
  margin-top: 20px;
  padding-right: 24px;
  font-size: 18px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $primary-text-color;
}
h3 {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
h4 {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.waring {
  margin-top: 30;
  margin-bottom: 0;
}
.function {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  list-style: none;
  .degris {
    padding-top: 94px;
    padding-bottom: 94px;
    + {
      .degris {
        margin-left: 30px;
      }
    }
  }
  .waring {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .text {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
  }
}
.work-title {
  margin-top: 0px;
  padding-left: 24px;
  padding-right: 24px;
  color: $new-accent;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.work-title1 {
  margin-top: 10px;
  margin-bottom: 0;
  color: $new-accent;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: $secondary-bg-color;
}
.comands-titles {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.title {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.logo {
  &:hover {
    $new-accent: rgb(0, 0, 0);
    color: $new-accent;
  }
}
.product {
  display: flex;
  padding-left: 0px;
  .product-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .product-title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    color: $pimary-bg-color;
    background: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }
}
.product-item {
  position: relative;
  display: block;
}
.doing {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-bgc {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team {
  display: flex;
  list-style: none;
  justify-content: center;
  position: center;
  padding-inline-start: 0px;
  > .team-member {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.team-description {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $pimary-bg-color;
}
.team-title {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $primary-text-color;
}
.team-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $pimary-bg-color;
}
.item {
  cursor: pointer;
}
.team-social {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  .item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .icon-team-social {
    align-items: center;
  }
}
.icon-team-social {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $main-accent;
    --color1: #ffffff;
  }
  &:focus {
    background-color: $main-accent;
    --color1: #ffffff;
  }
}
.claints {
  padding-top: 94px;
  padding-bottom: 50px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.claints-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style-type: none;
  justify-content: space-evenly;
}
.icon {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  fill: $svg-color;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid $main-accent;
    fill: $main-accent;
  }
  &:focus {
    border: 1px solid $main-accent;
    fill: $main-accent;
  }
}
